<template>
  <div class="notification">
    Demo de soap <button class="button"
                         @click="usingAxios">
      Solicitar
    </button>
            <pre>
    {{ response }}
    </pre>
  </div>
</template>

<script>
/* eslint-disable no-console */
import { SOAPClient, SOAPClientParameters } from '~/utils/soapclient'
import axios from 'axios'
/**
 * Demo de formulario con soap
 */
/* eslint-disable */
function uuid(a){return a?(a^Math.random()*16>>a/4).toString(16):([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g,b)}
/* eslint-enable */
const PRUEBA = 'PRUEBA DE DINAMO'
const requestXML = `
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:sys="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:sys1="http://schemas.datacontract.org/2004/07/System.Data" xmlns:aut="http://schemas.datacontract.org/2004/07/AutosystCRM">
   <soapenv:Header/>
   <soapenv:Body>
      <tem:createLead>
         <!--Optional:-->
         <tem:leadUnit ser:Id="${uuid('dinamo')}" ser:Ref="?">
            <!--Optional:-->
            <aut:account_description>Prueba de dinamo</aut:account_description>
            <!--Optional:-->
            <aut:account_id>${uuid('dinamo')}</aut:account_id>
            <!--Optional:-->
            <aut:account_name>${PRUEBA}</aut:account_name>
            <!--Optional:-->
            <aut:alt_address_city>?</aut:alt_address_city>
            <!--Optional:-->
            <aut:alt_address_country>?</aut:alt_address_country>
            <!--Optional:-->
            <aut:alt_address_postalcode>?</aut:alt_address_postalcode>
            <!--Optional:-->
            <aut:alt_address_state>?</aut:alt_address_state>
            <!--Optional:-->
            <aut:alt_address_street>?</aut:alt_address_street>
            <!--Optional:-->
            <aut:assigned_user_id>${uuid('dinamo')}</aut:assigned_user_id>
            <!--Optional:-->
            <aut:assistant>?</aut:assistant>
            <!--Optional:-->
            <aut:assistant_phone>?</aut:assistant_phone>
            <!--Optional:-->
            <aut:birthdate>?</aut:birthdate>
            <!--Optional:-->
            <aut:campaign_id>?</aut:campaign_id>
            <!--Optional:-->
            <aut:campaign_web>?</aut:campaign_web>
            <!--Optional:-->
            <aut:children>?</aut:children>
            <!--Optional:-->
            <aut:children_driver>?</aut:children_driver>
            <!--Optional:-->
            <aut:company>Dinamo</aut:company>
            <!--Optional:-->
            <aut:contact_id>?</aut:contact_id>
            <!--Optional:-->
            <aut:content_web>?</aut:content_web>
            <!--Optional:-->
            <aut:converted>?</aut:converted>
            <!--Optional:-->
            <aut:created_by>?</aut:created_by>
            <!--Optional:-->
            <aut:date_entered>?</aut:date_entered>
            <!--Optional:-->
            <aut:date_modified>?</aut:date_modified>
            <!--Optional:-->
            <aut:date_of_birth>?</aut:date_of_birth>
            <!--Optional:-->
            <aut:date_of_birth_driver>?</aut:date_of_birth_driver>
            <!--Optional:-->
            <aut:deleted>?</aut:deleted>
            <!--Optional:-->
            <aut:department>?</aut:department>
            <!--Optional:-->
            <aut:description>?</aut:description>
            <!--Optional:-->
            <aut:do_not_call>?</aut:do_not_call>
            <!--Optional:-->
            <aut:first_name>?</aut:first_name>
            <!--Optional:-->
            <aut:first_name_driver>?</aut:first_name_driver>
            <!--Optional:-->
            <aut:first_name_owner>?</aut:first_name_owner>
            <!--Optional:-->
            <aut:hobbies>?</aut:hobbies>
            <!--Optional:-->
            <aut:hobbies_driver>?</aut:hobbies_driver>
            <!--Optional:-->
            <aut:id>?</aut:id>
            <!--Optional:-->
            <aut:is_proresponse>?</aut:is_proresponse>
            <!--Optional:-->
            <aut:is_valid>?</aut:is_valid>
            <!--Optional:-->
            <aut:kind>?</aut:kind>
            <!--Optional:-->
            <aut:kind_owner>?</aut:kind_owner>
            <!--Optional:-->
            <aut:kinship>?</aut:kinship>
            <!--Optional:-->
            <aut:last_name>?</aut:last_name>
            <!--Optional:-->
            <aut:last_name_driver>?</aut:last_name_driver>
            <!--Optional:-->
            <aut:last_name_owner>?</aut:last_name_owner>
            <!--Optional:-->
            <aut:lead_source>?</aut:lead_source>
            <!--Optional:-->
            <aut:lead_source_description>?</aut:lead_source_description>
            <!--Optional:-->
            <aut:marital_status>?</aut:marital_status>
            <!--Optional:-->
            <aut:marital_status_driver>?</aut:marital_status_driver>
            <!--Optional:-->
            <aut:medium_web>?</aut:medium_web>
            <!--Optional:-->
            <aut:middle_name>?</aut:middle_name>
            <!--Optional:-->
            <aut:middle_name_driver>?</aut:middle_name_driver>
            <!--Optional:-->
            <aut:middle_name_owner>?</aut:middle_name_owner>
            <!--Optional:-->
            <aut:modified_user_id>?</aut:modified_user_id>
            <!--Optional:-->
            <aut:name_owner>?</aut:name_owner>
            <!--Optional:-->
            <aut:ns_campaign>?</aut:ns_campaign>
            <!--Optional:-->
            <aut:ns_fee>?</aut:ns_fee>
            <!--Optional:-->
            <aut:ns_linkname>?</aut:ns_linkname>
            <!--Optional:-->
            <aut:ns_mchannel>?</aut:ns_mchannel>
            <!--Optional:-->
            <aut:ns_source>?</aut:ns_source>
            <!--Optional:-->
            <aut:number_children>?</aut:number_children>
            <!--Optional:-->
            <aut:number_children_driver>?</aut:number_children_driver>
            <!--Optional:-->
            <aut:opportunity_amount>?</aut:opportunity_amount>
            <!--Optional:-->
            <aut:opportunity_id>?</aut:opportunity_id>
            <!--Optional:-->
            <aut:opportunity_name>?</aut:opportunity_name>
            <!--Optional:-->
            <aut:phone_fax>?</aut:phone_fax>
            <!--Optional:-->
            <aut:phone_home>?</aut:phone_home>
            <!--Optional:-->
            <aut:phone_mobile>?</aut:phone_mobile>
            <!--Optional:-->
            <aut:phone_other>?</aut:phone_other>
            <!--Optional:-->
            <aut:phone_work>?</aut:phone_work>
            <!--Optional:-->
            <aut:portal_app>?</aut:portal_app>
            <!--Optional:-->
            <aut:portal_name>?</aut:portal_name>
            <!--Optional:-->
            <aut:primary_address_city>?</aut:primary_address_city>
            <!--Optional:-->
            <aut:primary_address_country>?</aut:primary_address_country>
            <!--Optional:-->
            <aut:primary_address_postalcode>?</aut:primary_address_postalcode>
            <!--Optional:-->
            <aut:primary_address_state>?</aut:primary_address_state>
            <!--Optional:-->
            <aut:primary_address_street>?</aut:primary_address_street>
            <!--Optional:-->
            <aut:refered_by>?</aut:refered_by>
            <!--Optional:-->
            <aut:reports_to_id>?</aut:reports_to_id>
            <!--Optional:-->
            <aut:rfc>?</aut:rfc>
            <!--Optional:-->
            <aut:salutation>?</aut:salutation>
            <!--Optional:-->
            <aut:sex>?</aut:sex>
            <!--Optional:-->
            <aut:sex_driver>?</aut:sex_driver>
            <!--Optional:-->
            <aut:source_web>?</aut:source_web>
            <!--Optional:-->
            <aut:status>?</aut:status>
            <!--Optional:-->
            <aut:status_description>?</aut:status_description>
            <!--Optional:-->
            <aut:term_web>?</aut:term_web>
            <!--Optional:-->
            <aut:title>?</aut:title>
            <!--Optional:-->
            <aut:website>?</aut:website>
         </tem:leadUnit>
      </tem:createLead>
   </soapenv:Body>
</soapenv:Envelope>`
const endpont = 'http://www.thomas-bayer.com/axis2/services/BLZService'
// const endpont = 'http://www.wscd.divisionautomotriz.com/WS_Leads.svc'
/* eslint-disable no-console */

export default {
  name: 'FormSoap',
  data: () => ({
    response: '',
  }),
  methods: {
    usingAxios() {
      axios
        .get(`${endpont}?wsdl`)
        .then(({ data }) => {
          this.response = data
        })
        .catch(err => {
          console.error([err])
        })
    },
    usingFetch() {
      fetch(endpont, {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'text/xml; charset=utf-8',
        },
        redirect: 'follow', // manual, *follow, error
        referrer: 'no-referrer',
        body: requestXML,
      })
        .then(response => {
          if (response.ok) {
            return response.text()
          }
          throw new Error('Network response was not ok.')
        })
        .then(responseText => {
          console.log(responseText)
          this.response = responseText
        })
        .catch(e => {
          console.error([e])
        })
    },
    normalReq() {
      const xmlhttp = new XMLHttpRequest()
      xmlhttp.open('POST', endpont, true)
      xmlhttp.setRequestHeader('Content-Type', 'text/xml; charset=utf-8')
      xmlhttp.setRequestHeader(
        'SOAPAction',
        'http://tempuri.org/IWS_Leads/createLead'
      )

      xmlhttp.onreadystatechange = () => {
        if (xmlhttp.readyState === 4) {
          this.response = xmlhttp.responseText
        }
      }

      // send the SOAP request
      xmlhttp.send(requestXML)
    },
    sendRequest() {
      const pl = new SOAPClientParameters()
      const result = new SOAPClient(
        'http://www.wscd.divisionautomotriz.com/WS_Leads.svc',
        'createLead',
        null,
        pl,
        false,
        e => {
          console.log('Callback soap', e)
        }
      )
      console.log(result)
    },
  },
}
</script>

<style>
</style>
