
.card {
  &.is-horizontal {
    display: flex;
    flex-direction: row;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;

    &:not(.is-mobile) {
      display: block;
      @include tablet {
        display: flex;
      }
    }

    &.is-reverse {
      flex-direction: row-reverse;
    }

    .card-image {
      flex: 1;

      .image {
        min-height: 100%;
      }
    }

    .card-content {
      flex: 1;
    }
  }
}
