<template>
  <div v-if="!isProductionSite"
       class="alert-dev tag is-warning">
    Sitio en desarrollo
  </div>
</template>

<script>
export default {
  name: 'AlertDevelopment',
  productionDomain: process.env.productionDomain,
  data() {
    return {
      isProductionSite: true,
    }
  },
  mounted() {
    if (document.location.host !== this.$options.productionDomain) {
      this.isProductionSite = false
    }
  },
}
</script>

<style scoped>
.alert-dev {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
}
</style>
