<template>
  <div :class="alertCookieClss"
       class="alert-cookie notification is-white is-marginless">
    <p
      v-if="showComponent"
      @click.prevent="showDetail = !showDetail">
      <slot v-if="!showDetail"
            name="title">
        Esta página web usa cookies, para saber más
        <a href="#">
          haz click aquí
        </a>
      </slot>
    </p>
    <a v-if="!showDetail && !showComponent"
       href="#"
       aria-label="Mostrar alerta de cookies"
       @click.prevent="() => {showDetail = true; showComponent = true}">
      <!-- QUESTION: Siempre png o programar fallback -->
      <img src="~/assets/icons/cookie-emoji.png"
           class="emoji"
           alt="Cookies">
    </a>
    <template v-if="showDetail">
      <p>
        {{ cookieTexts.introduction }}
      </p>
      <div class="field is-grouped is-grouped-right alert-cookie__actions ">
        <div class="control">
          <button
            class="button is-text"
            @click="setCookie(false)">
            Declinar
          </button>
        </div>
        <div class="control">
          <button class="button is-success"
                  @click="setCookie(true)">
            Acpetar
          </button>
        </div>
      </div>
      <div class="alert-cookie__row">
        <ul :class="{ 'is-active': !!activeCookie }"
            class="alert-cookie__list">
          <alert-cookie-item
            v-for="c in cookieDefs"
            :key="c.label"
            v-model="activeCookie"
            :cookie-list="c.cookies"
            :native-value="c.label">
            <template slot="title">
              {{ c.label }}
            </template>
            <p>
              {{ c.desc }}
            </p>
          </alert-cookie-item>
        </ul>
      </div>
    </template>
  </div>
</template>

<script>
import AlertCookieItem from './AlertCookieItem.vue'

const cookieName = 'DinamoGalleta'
const cookieMaxAge = 60 * 60 * 24 * 365

const hasCookie = name => {
  const cookies = document.cookie.split(';')
  const [dinamoCookie = ''] = cookies.filter(item => item.includes(`${name}=`))
  return {
    cookie: dinamoCookie,
    isEnabled: dinamoCookie.indexOf('active') !== -1,
    isDisabled: dinamoCookie.indexOf('nope') !== -1,
  }
}

export default {
  components: {
    AlertCookieItem,
  },
  data() {
    return {
      activeCookie: '',
      showComponent: false,
      showDetail: false,
      cookieDefs: [],
      cookieTexts: {
        introduction: '',
      },
      cookie: {
        cookie: '',
        isEnabled: false,
        isDisabled: false,
      },
    }
  },
  computed: {
    alertCookieClss() {
      return {
        'is-aside': !this.showComponent,
        'is-enabled': this.cookie.isEnabled,
        'is-disabled': this.cookie.isDisabled,
      }
    },
  },
  mounted() {
    this.getCookieFromCtx()
    this.getDefinitions()
    if (this.cookie.isEnabled) {
      this.enableTracking()
    } else if (!this.cookie.isDisabled) {
      this.showComponent = true
    }
    this.$root.$on('scrollTo', () => this.setCookie(true))
  },
  methods: {
    async getDefinitions() {
      const cookieDefs = await import('~/assets/data/cookie-definitions.json')
      const cookieTexts = await import('~/assets/data/cookie-texts.json')
      this.cookieDefs = cookieDefs.data
      this.cookieTexts = cookieTexts.data
      this.activeCookie = cookieDefs.data[0].label || ''
    },
    getCookieFromCtx() {
      this.cookie = hasCookie(cookieName)
    },
    setCookie(active) {
      const cookieValue = active ? 'active' : 'nope'
      // eslint-disable-next-line max-len
      document.cookie = `${cookieName}=${cookieValue};path=/;max-age=${cookieMaxAge}`
      this.getCookieFromCtx()
      this.showComponent = false
      this.showDetail = false
      if (this.cookie.isEnabled) {
        this.enableTracking()
      } else {
        this.disableTracking()
      }
      this.$emit('cookieSet', cookieValue)
    },
    enableTracking() {
      try {
        // NOTE: Si quieres más trackers, aquí van.
        this.$ga.enable()
        this.$analytics.fbq.enable()
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    disableTracking() {
      try {
        // NOTE: Si quieres más trackers, aquí van.
        this.$ga.disable()
        this.$analytics.fbq.disable()
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
  },
}
</script>

<style lang="scss">
@import '~assets/sass/base/basic';

.alert-cookie {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 9;
  max-width: calc(100vw - 2rem);
  max-height: calc(80vh - #{$navbar-height});
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba($black, 0.7);
  @include mobile {
    overflow: auto;
  }

  &.is-aside {
    right: auto;
    left: 0;
    padding: 0.75rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0 2px rgba($black, 0.7);
    opacity: 1;
    transform-origin: left center;
    animation: pulsate 20s ease-out;
    animation-iteration-count: infinite;

    &.is-enabled,
    &.is-disabled {
      opacity: 0.5;
      animation-iteration-count: 2;
    }
  }

  &.is-enabled {
    border: 1px solid $green;
    border-left: 0;
  }

  &.is-disabled {
    border: 1px solid $grey;
    border-left: 0;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    transition: margin-bottom 320ms ease;
    // flex: 1 0 auto;
    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      overflow: auto;
    }
  }

  &__row {
    position: relative;
    display: flex;
    margin-top: 1rem;
    @include tablet {
      justify-content: space-between;
    }
  }

  &__item-list {
    @include mobile {
      margin: 1rem 0;
      overflow: auto;
    }
    @include tablet {
      margin-left: 1rem;
    }
  }

  &__item-title {
    position: relative;
    margin: 0 0.4rem 0 0;
    @include tablet {
      margin: 0 0 0.4rem;
    }
  }

  &__actions {
    @include mobile {
      margin-top: 1rem;
    }
  }

  &__item-content {
    position: absolute;
    top: 2.5rem;
    right: 0;
    left: 0;
    display: flex;
    @include tablet {
      top: 0;
      left: 8rem;
      max-height: 8rem;
      overflow: auto;
    }
    @include mobile {
      flex-direction: column;
    }
  }

  &__item-desc {
    // width: 10rem;
    // max-width: 70%;
    flex: 1 0 70%;
    @include tablet {
      max-width: 50%;
      flex: 1 0 50%;
    }
    @include desktop {
      max-width: 30%;
      flex: 1 0 30%;
    }
  }

  &__input {
    position: absolute;
  }
}
</style>
