<template>
  <transition mode="out-in"
              name="fade">
    <li :key="nativeValue"
        class="alert-cookie__item">
      <label
        ref="label"
        class="alert-cookie__item-title button"
        :class="{'is-primary': isActive}"
        tabindex="0"
        @keydown.prevent.enter.space="$refs.label.click()">
        <slot name="title">
          Nombre del tipo de cookie
        </slot>
        <input
          v-model="computedValue"
          type="radio"
          class="is-invisible alert-cookie__input"
          :class="activeClass"
          :name="name"
          :value="nativeValue" />
      </label>
      <transition name="page">
        <div
          v-if="isActive"
          :class="activeClass"
          class="alert-cookie__item-content">
          <div class="alert-cookie__item-desc">
            <slot><p>Descripción del tipo de cookie</p></slot>
          </div>
          <div class="alert-cookie__item-list">
            <table :class="tableClasses">
              <thead>
                <th>Nombre</th>
                <th>Propósito</th>
                <th>Caducidad</th>
              </thead>
              <tbody>
                <tr v-for="cookie in cookieList"
                    :key="cookie.name">
                  <td>{{ cookie.name }}</td>
                  <td>{{ cookie.usage }}</td>
                  <td>{{ cookie.duration }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </transition>
    </li>
  </transition>
</template>

<script>
/* eslint-disable max-len */
export default {
  name: 'AlertCookieItem',
  props: {
    name: {
      type: String,
      default: 'dinamo-cookie',
    },
    value: {
      type: [String, Number, Boolean, Function, Object, Array, Symbol],
      default: true,
    },
    nativeValue: {
      type: [String, Number, Boolean, Function, Object, Array, Symbol],
      default: 'cookie',
    },
    cookieList: {
      type: Array,
      default: () => [
        {
          name: 'DinamoGalleta',
          usage:
            'Almacena el estado de consentimiento de cookies del usuario para el dominio actual',
          duration: '1 Año',
        },
      ],
    },
    tableClasses: {
      type: [Array, Object],
      default: () => [
        // 'alert-cookie__item-list',
        'table',
        'is-narrow',
        'is-striped',
        'is-bordered',
        'is-fullwidth',
      ],
    },
  },
  data() {
    return {
      newValue: this.value,
    }
  },
  computed: {
    isActive() {
      return this.value === this.nativeValue
    },
    activeClass() {
      return { 'is-active': this.isActive }
    },
    computedValue: {
      get() {
        return this.newValue
      },
      set(value) {
        this.newValue = value
        this.$emit('input', value)
      },
    },
  },
  watch: {
    value(value) {
      this.newValue = value
    },
  },
}
</script>
