<template>
  <footer class="footer">
    <div class="container has-text-centered">
      Mitsubishi Universidad ©2018 todos los derechos reservados
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter',
}
</script>
