<template>
  <main class="hero is-fullheight is-black">
    <!-- eslint-disable max-len -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1-desktop">
          ¡Muchas gracias!
        </h1>
        <p class="subtitle">
          Tu satisfacción es lo más importante.<br />
          Pronto nos pondremos en contacto.
        </p>
        <!--
          Aquí se sugiere tener un CTA que mantenga
          al usuario en comunicación con la marca
        -->
        <div class="box">
          <p>
            ¿Ya nos sigues en nuestras redes sociales?
                                             <br>
                                             <br>
                                             <a href="http://facebook.com/MitsubishiSamurai/?ref=mitsubishisamurai.com"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="button is-info is-large">
                                               <span class="icon is-large">
                                                 <i class="fab fa-facebook fa-2x" />
                                               </span>
                                             </a>
                                             <a href="https://twitter.com/search?q=%40mxmitsubishi&ref=mitsubishisamurai.com"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="button is-info is-large">
                                               <span class="icon is-large">
                                                 <i class="fab fa-twitter fa-2x" />
                                               </span>
                                             </a>
                                             <a href="http://www.youtube.com/user/MitsubishiMexico?ob=0&feature=results_main&ref=mitsubishisamurai.com"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="button is-danger is-large">
                                               <span class="icon is-large">
                                                 <i class="fab fa-youtube fa-2x" />
                                               </span>
                                             </a>
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'PageGracias',
  head: {
    title: 'Gracias',
    meta: [{ name: 'robots', content: 'noindex' }],
  },
  mounted() {
    // Aquí ejecuta las acciones de rastreo de leads
  },
}
</script>
