<template>
  <!-- eslint-disable max-len -->
  <main class="page--index">
    <section class="landing is-relative">
      <picture
        class="is-block is-overlay">
        <source
          sizes="100vw"
          srcset="
            /images/navidats/900x800/cabeza_900x800.jpg 900w,
            /images/navidats/1400x800/cabeza_1400x800.jpg 1400w,
            /images/navidats/1900x900/cabeza_1900x900.jpg 1900w"
          type="image/jpg">
        <img
          ref="background"
          class="image  is-responsive"
          src="/images/navidats/1900x900/cabeza_1900x900.jpg"
          alt="Fin de semana de locura"
          srcset="
            /images/navidats/cabeza_900x800.jpg 900w,
            /images/navidats/cabeza_1400x800.jpg 1400w,
            /images/navidats/cabeza_1900x900.jpg 1900w"
          sizes="100vw"
          @load="resizeContainer">
      </picture>
    </section>
    <div class="section">
      <div class="container">
        <div class="has-text-centered">
          <p>
            <link-whatsapp-vue
              number="525543394400"
              text="¡Hola! Me interesa la promoción del Mirage para el Fin de semana de locura. Quiero agendar mi prueba de manejo.">
              <img src="/images/navidats/call-to-action.png"
                   class="is-call-to-action"
                   alt="Agenda tu prueba de manejo aquí">
            </link-whatsapp-vue>
          </p>
        </div>
        <form-generic
          sheet-destiny="Prepara tu auto Navidad">
          <h2 class="title is-4 has-text-centered">
            ¡Regístrate!
          </h2>
        </form-generic>
        <hr>
        <div class="content is-size-7">
          <p>
            Precio en MN incluye IVA y no incluye el descuento de empleado de Grupo
            Autofin México. Plan de financiamiento sujeto a aprobación de crédito de FC
            Financial, S.A. de C.V., SOFOM E.R., Grupo Financiero Inbursa, misma que para
            su constitución y operación con tal carácter no requiere de autorización de la
            Secretaría de Hacienda y Crédito Público. CAT Promedio de 27.7% sin IVA,
            ponderado calculado al 27 de noviembre de 2018 para fines informativos y de
            comparación. Vigencia del 14 al 17 de diciembre de 2018. *Dato obtenido con
            base en los resultados de pruebas de laboratorio realizadas bajo condiciones
            controladas de manejo, de conformidad con la NOM-163-SEMARNAT-ENER-SCFI-2013.
            Se entiende por condiciones controladas de manejo, aquellas sujetas a variables
            que puedan afectar el rendimiento de combustible tales como la altitud, la
            temperatura ambiente, condiciones de tráfico, velocidades, tipo de aceleración,
            entre otras. Consulta términos y condiciones, así como detalles de la garantía
            7 años / 100,000 km en tren motriz en
            <a href="http://www.mitsubishimotors.com.mx"
               target="_blank"
               rel="noopener ">
              www.mitsubishimotors.com.mx
            </a>
          </p>
        </div>
      </div>
      <img src="/images/navidats/pie.png"
           class="is-call-to-action"
           alt="Agenda tu prueba de manejo aquí">
    </div>
  </main>
</template>

<script>
import FormGeneric from '~/components/Form/Generic.vue'
import LinkWhatsappVue from '~/components/LinkWhatsapp.vue'

export default {
  name: 'PageIndex',
  components: {
    FormGeneric,
    LinkWhatsappVue,
  },
  data() {
    return {
      containerStyles: {
        height: 'auto',
        width: 'auto',
      },
    }
  },
  head() {
    return {
      title: 'Prepara tu auto para estas vacaciones en Mitsubishi Universidad',
    }
  },
  mounted() {
    window.addEventListener('resize', this.resizeContainer)
    this.$nextTick(this.resizeContainer)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.resizeContainer)
  },
  methods: {
    resizeContainer() {
      const { height, width } = this.$refs.background.getBoundingClientRect()
      console.log({ height, width }, this.$refs.background.currentSrc)

      this.containerStyles.height = `${Math.floor(height)}px`
      this.containerStyles.width = `${Math.floor(width)}px`
    },
  },
}
</script>

<style lang="scss">
@import 'assets/sass/base/basic';

.container {
  max-width: 100%;
}

%banners {
  position: absolute;
  z-index: 1;
}

.ban-1 {
  @extend %banners;
  top: 17%;
  left: 0;
  max-width: 50%;
  @media screen and (min-width: 900px) {
    top: 0;
    right: 0;
    left: auto;
    max-width: 40%;
  }
}

.ban-2 {
  @extend %banners;
  bottom: 0;
  left: 0;
  max-width: 60%;
  @media screen and (min-width: 900px) {
    bottom: 2rem;
    left: 0;
    max-width: 40%;
  }
}

.ban-3 {
  @extend %banners;
  bottom: 0;
  left: 50%;
  max-width: 80%;
  transform: translate(-50%, 100%);
  @media screen and (min-width: 900px) {
    max-width: 50%;
    transform: translate(-50%, 80%);
  }
}

.is-call-to-action {
  max-width: 300px;
}

.landing {
  padding-bottom: 10%;
  overflow: hidden;
  @include until($tablet) {
    min-height: 350px;
  }
  @include from($tablet) {
    min-height: 450px;
  }
  @include from($desktop) {
    min-height: 550px;
  }
  @include from($widescreen) {
    min-height: 650px;
  }
  @include from($fullhd) {
    min-height: 800px;
  }
}
</style>
